body{
  box-sizing: border-box;
  background-color: rgb(220, 239, 255);
}
.container{
  margin: auto;
  
  margin-bottom: 160px;
  width: 95%;
  padding: 10px;
  background-color: aliceblue;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(255, 255, 255);
  
  padding: 5%;
}
.card-title{
  padding-bottom: 10px;
  text-align: center;

}
#amount,#intrest,#year{
  box-sizing: border-box;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none ;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 5px;
  width:100%;
  border-radius: 4px;
  background: none;
  border: 2px solid rgb(211, 211, 211);
  
}
#amount:valid,#intrest:valid,#year:valid{
  border: black solid 2px;
}
#amount:focus,#intrest:focus,#year:focus{
  border: black solid 2px;
}
.loanForm {
  position: relative;
  margin: 30px;
}

.loanForm .placeholder{
  position: absolute;
  left:7px;
  top:17%;
  color: rgb(146, 146, 146);
  font-size: 100%;
  transition: top 0.1s ease, color 0.1s ease,font-size 0.1s ease,left 0.1s ease;
  user-select: none;
  pointer-events: none;
}

.symbol{
  position: relative;
  float: left;
  width: 23px;
  height: 23px;
  background-color: cadetblue;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 100%;
  user-select: none;
  pointer-events: none;
  padding: 3px;
  text-align: center;
}

.gg-dollar{
  position: absolute;
  top:9%;
  left:45%;
}

.gg-math-percent{
  position: absolute;
  top:45%;
  left:15%;
}

.gg-calendar{
  position: absolute;
  top:10%;
  left:12.5%;

}

.field{
  width: 95%;
  margin:30px;
}
.bold{
  text-align: center;
  text-decoration: none;
  font-size: 120%;
  font-weight: bold;
  color: cadetblue;
}




.loanForm input:valid + .placeholder,
.loanForm input:focus + .placeholder{
  position: absolute;
  left:7px;
  top:-50%;
  font-size: 80%;
  color: rgb(78, 78, 78);
  background-color: rgb(255, 255, 255);
  padding: 4px ;
}

.button{
  border: none;
  appearance: none;
  
  font-size: 120%;
  text-align: center;
  padding: 6px;
  background-color: cadetblue;
  color: aliceblue;
  border-radius: 4px;
  width: 20%;
  margin: auto;


}
.button:hover{
  background-color: aliceblue;
  color:cadetblue ;
  
}
.button:active{
  outline: 2px solid cadetblue;
}
.black{
  background-color: black;
}

@media (min-width: 1100px){
  .container{
    width:60%;
  }
  

}
.collection{
  list-style-type: none;
  padding: 4px;
  margin-bottom: 20px;
}

.collection-item{
  width: 90%;
  margin: auto;
  padding: 6px;
  border-bottom: lightgray solid 2px;
  background: aliceblue;
}
.result-head{
  color:cadetblue;
}




